{% extends 'base.html' %}
{% block content %}

<div style="height: 250px;"></div>
<div class="container" style="margin-bottom: 100px;">
  <h3>👥 Registered Customers</h3>
  <table class="table table-bordered mt-3">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody>
      {% for user in customers %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.date_joined|date:"d M Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
